body{background-color:#e6f4f8;}

/* Layout */

/* Header */
.header{
	position: relative;
	width: 960px;
	margin: 0 auto;
}
.header h1{
	padding: 38px 0 38px 14px;
}
.header h1 a{
	display: inline-block;
}
.header h1 img{
	max-width: 192px;
}

/* nav */
.nav{
	position: absolute;
	top: 50px;
	right: 0;
}
.nav::after{
	content: "";
	display: block;
	clear: both;
}
.nav a{
	display: inline-block;
	float: left;
	padding:0 14px;
	font-size: 16px;
	font-weight: bold;
	color: #2f323a;
}

/*Main contents */
.main{
	width: 960px;
	margin: 0 auto 110px;
	text-align: center;
}

.main section,
.main article,
.main section div{
position: relative;
}

.main section::after,
.main article::after,
.main section div::after{
	content: "";
	display: block;
	clear: both;
}
.main span{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-size: 5.6640625vw;
	color: #fff;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.main span strong{
	display: inline-block;
	width: 100%;
	padding-bottom: 4vw;
	color: inherit;
	font-size: inherit;

}
.main span a{
 display: inline-block;
 min-width: 120px;
 min-height: 40px;
 line-height: 40px;
 font-size: 14px;
 color: inherit;
 border: 1px solid rgba(255,255,255,.5);
 border-radius: 40px; 
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 -ms-border-radius: 40px;
 -o-border-radius: 40px;
}
.about{
	margin-bottom: 1%;
	position: relative;
	height: 492px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image:url(../image/hero.jpg);
}
.portfolio{
	margin-bottom: 1%;
}
.portfolio article{
	float: left;
	width: 49.5%;
	height: 305px;
	background-color: #b9a88e;
}
.portfolio article:last-child{
	float: right;
	background-color: #2d2d35;
}

.portfolio span{
	font-size: 3.515625vw;
}
.portfolio span a{
	min-width: 100px;
	min-height: 30px;
	line-height: 30px;
	font-size: 13px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}



.skill{}
.skill span{
	font-size: 2.34375vw;
}
.skill span a{
	min-width: 90px;
	min-height: 25px;
	line-height: 25px;
	font-size: 12px;
	border-radius: 25px;;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
.skill article{
	float: left;
	width: 49.5%;
}
.skill article:last-child{
	float: right;
}
.skill article div{
	float: left;
	width: 49%;
	height: 230px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.skill article:first-child div:nth-child(1){
	background-image: url(../image/gallery-1.jpg);
}
.skill article:first-child div:nth-child(2){
	background-image: url(../image/gallery-2.jpg);
}
.skill article:last-child div:nth-child(1){
	background-image: url(../image/gallery-3.jpg);
}
.skill article:last-child div:nth-child(2){
	background-image: url(../image/gallery-4.jpg);
}

/* .skill div:nth-child(4){
	background-image: url(../image/gallery-4.jpg);
} */

.skill article div:last-child{
	float: right;
}

/* Footer */
.footerwrap{
	background-color: #dbecf1;
}
.footer{
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 38px 14px;
}
.footer .sns{
	position: absolute;
	top: 38px;
	right: 14px;
	text-align: center;
}
.footer .sns a{
	display: inline-block;
	vertical-align: middle;
}
.footer .sns a:last-child img{
	position: relative;
	top: 1px;
}
.footer address{
	margin-bottom: 10px;
	color: #708287;
	font-size: 13px;
}
.footer .copy{
	color: #708287;
	font-size: 13px;}



	@media(max-width:959px){
		body{
			padding: 0 15px;
		}

		/* header */
		.header{
			width: 100%;
			text-align: center;
		}
		.header .h1{
			padding: 3.7109375vw 0 2vw;
		}
		.header h1 img{
			width: 18.75vw;
		}
		/* nav */
		.nav{
			position: static; /*해제할 때 사용*/
			width: 100%;
			margin-bottom: 2vw;
		}
		.nav a{
			width:calc(100% / 3);
			text-align: center;
			padding: 14px;
		}

		/* main contects */
		.main{
			width: 100%;
		}

		.about{
			height: 48.046875vw;
		}
		.portfolio article{
			height: 29.788515625vw;
		}
		
		.skill article{
		float: none;
		width: 100%;
		}
		.skill article:last-child{
			float: none;
			margin-top: 1%;
		}
		.skill article div{
			width: 49.5%;
			height: 22.4609375vw;
		}
	
		/* footer */
		.footerwrap{
		margin: 0 -15px;
		}
		.footer{
			width: 100%;
			padding: 3.7109375vw 0;
			text-align: center;
		}
		.footer .sns{
			position: static;
			margin-bottom: 2vw;
		}

	}

	@media(max-width:375px){
		.skill article{
			float: none;
			width: 100%;
			}
			.skill article div{
				position: static;
				margin-top: 1%;
				width: 100%;
			}
			.skill article div{
				width: 49.5%;
				height: 22.4609375vw;
			}
				.portfolio article{
					position: static;
					width: 100%;
					height: 48.046875vw;
					margin-bottom: 5px;
				}
	}